* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #718093;
    color: #fff;
}

header {
    background-color: #752737;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 10;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; 
    width: 100%;
}

header h1 {
    margin: 0;
    font-size: 2rem;
}

.navbar {
    width: 100%;
}

.nav-link {
    color: #fff;
}

.nav-link:hover {
    color: #ffff;
}

.carousel {
    max-width: 2000px;
    margin: auto;
    height: 500px; 
    overflow: hidden; 
}

.carousel-inner img {
    width: 100%; 
    height: auto; 
}

.carousel-item img {
    width: 100%; 
    height: auto; 
    object-fit: cover; 
}

.product {
    margin-top: 2rem;
}

.card {
    max-width: 100%;
}

.card img {
    max-width: 50%;
    margin: 0 auto;
}

.card-body h4 {
    text-align: center;
    padding: 12px;
}

.card-footer button {
    width: 100%;
}

footer {
    background-color: #752751;
    padding: 24px;
    font-size: 1.5rem;
    text-align: center;
}

footer li {
    list-style: none;
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    /*Para usuário não ficar aumentado as linhas*/
    resize: none;
    height: 120px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

button {
    display: block;
    width: 100%;
    padding: 8px 0;
    border: none;
    background-color:#119759;
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 16px;
}






